/* nav bar  */


.fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }

.nav-bar{
  background-color:#F5F5F5;
  display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:160px ;
    margin-right: 160px;
    margin-top: 20;
    padding: 0 20px;
}
.nav-p {
  
    color: #0E0E0E;
    font-weight: bold;
    font-size: 32px;

}
#nav-batton{
    background-color: #F5F5F5;
    color: #006A50;
    border: 1px solid #006A50;
    padding: 5px 10px;
    font-size: 17px;
    font-weight: 600;
}
#nav-batton:hover{
    background-color: #5490F5;
    cursor:pointer;
}



/* Banner */

.banner{
background-color:#C6E4D6;
margin: 20px 160px 20px 160px;
    width: 817px;
    height: 350px;
    padding: 100px ;
    display: flex;
    justify-content:space-between;
    align-items: center ;
    border-radius: 24px;
}
#BD-2{
    font-size: 24px;
    font-weight: 500;
    color:#0E0E0E;
}
.info-text{
    font-size: 50px;
    font-weight:bold;
    color:#0E0E0E;
}
.banner-button{
    background-color: #006A50;
    color: #FFFFFF;
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 34px 17px;
    font-size: 18px;
    font-weight: 600;
}


/* the vision of future */

.vision{
    background-color: #fcfcff;
    margin: 20px 160px;
}
.vision-heading
{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}
.P-of-vision{
    
    text-align: center;
    font-size: 16px;
    color: #555555;
    margin-bottom: 20px;
}
.parent
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
     gap:20px ;
}
#child1,#child2,#child3{
    flex:1;
    max-width: 300px;
    background-color: #5490F5;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition : transform 0.3s;
    
}
#child2{
    background-color: #F5A962;
}
#child3{
    background-color: #F56262;
}
#child1:hover,#child2:hover,#child3:hover{
    transform: scale(1.05);
}
#b1,#b2,#b3{
    font-size: 25px;
    font-weight:100;
    color: #FFFFFF;
    background-color: #5490F5;
    border: 1px solid #006A50;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 10px;
}
#b2{
    background-color: #09A15C;
}
#b3{
    background-color:#FFC239;
}
#child1 button:hover,#child2 button:hover,#child3 button:hover{
    background-color: #006A50;
}
.sec-2{
    text-align:lest ;
    margin-top:20;
}
.speech{
    font-size:16px;
    color:#0E0E0E;
    margin-bottom: 5px;
}

/* News Section */


.recent{
    background-color: #fcfcff;
    margin: 20px 160px;
    padding: 20px;
}
#recent-news{
    font-size: 30px;
    font-weight: 700;
    margin-bottom:10px;
    color: #0E0E0E;
}
.recent-p{
    font-size: 18px;
    color: #4e4e4e;
    margin-bottom: 20px;
    line-height: 1.5;
}
.parant-div{
    display:flex ;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

}
.image img{

    width: 250px;
    height:auto;
    border-radius: 8px;
}
/* button */
#read1{
    background-color: #006A50;
    color: #FFFFFF;
    border: 1px solid #006A50;
    padding: 5px 10px;
border-radius: 8px;
}
#read1:hover{
    background-color: #FFFFFF;
    color: #006A50;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#read2{
    background-color: #006A50;
    color: #FFFFFF;
    border: 1px solid #006A50;
    padding: 5px 10px;
border-radius: 8px;
}
#read2:hover{
    background-color: #FFFFFF;
    color: #006A50;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Donate section  */
.donate{
    background-color: #fcfcff;
    margin: 20px 160px;
    padding: 20px;
}
.headlie{
    font-size: 30px;
    font-weight: 700;
    margin-bottom:10px;
    color: #0E0E0E;
}
.descrp{
    font-size: 18px;
    color: #4e4e4e;
    margin-bottom: 20px;
    line-height: 1.5;
}
.father{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 20px;
}
.one{
    flex:1;
    max-width: 300px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition : transform 0.3s;
}

#speacial{
    background-color: #C6E4D6;
}
.select-amount{
    font-size: 20px;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 10px;
    text-align: center;

}
#do-nate{
    text-align: center;
    
}
#donate-buttone{
    background-color: #006A50;
    color: #FFFFFF;
    border: 1px solid #006A50;
    padding: 5px 10px;
    border-radius: 8px;
}

/* footer */
footer{
    margin: 20px 160px;
    background-color: #e6f5ee;
    padding:0;

}
.news-letter{
    text-align: center;
    padding:50px 20px;
    background-color: #cde9db;
    border-radius: 10px;
    max-width: 600px;
    margin:100px auto;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);

}
.news-title{
    font: size 28px;
    font-weight:bold;
    color:black;

}
.news-description{
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 1px;
}
.email-input{
    padding:10px;
    width:70%;
    border:1px solid #ccc;
    border-radious:6px;
    font-size:16px;
}
.subscribe{
    padding:10px 18px;
    background-color: #09A15C;
    color:#fff;
    border-radius:5px;
    font-size:16px;
    transition:background-color 0.3s ease;
}
.subscribe:hover{
    background-color: #007655;
}
.no-spam{
    margin-top: 20px;
    font-size:14px;
    color:#777;
}
.news-form{
    display:flex;
    justify-content:center;
    align-items:center;
}

/* footer-nav */
.nav-header-ion{
   display: flex;
flex-wrap: nowrap;
   flex-direction:column ;
   background-color: #FFFFFF;
   display: block;
    margin-left: auto;
    margin-right: auto;
    
}
#BAN{
    text-align: center;
    align-items: center;
    margin-top: 20px;

}

/* challenging part (using quotation symbol in background */

#edit{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
background-size:30px;




}
